/*
  HEADER, FOOTER 
  HEX #333333,RGB (51,51,51)
  **
  HEX #1e93cc
  RGB (30,147,204)
  **
  HEX #ffffff
  RGB (255,255,255)  
  **
    HEX #1e93cc
  RGB (30,147,204)
***
  HEX #ffffff
  RGB (255,255,255)  

****
  HEX #eeeeee
RGB (238,238,238)
  HEX #ffffff
  RGB (255,255,255)  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 100%;
    height: auto;
}


/*navigation*/

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background: #333333;
    font-size: 10px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

.logo {
    padding-left: 10rem;
}

.right-nav {
    margin-left: auto;
    color: white;
    padding-right: 50px;
}

.logo a,
.nav-container a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}


/* Banner */

.main-banner {
    width: 100%;
    height: auto;
    background: #1e93cc;
}

.icon img {
    position: absolute;
    top: 80px;
    left: 20%;
    width: 150px;
    height: 150px;
}

.banner-container {
    margin: auto;
    width: 100%;
    padding: 50px 10px;
    text-align: center;
}

.banner-container img,
.banner-container p,
.banner-container button {
    padding: 10px;
    color: white;
    font-size: 16px;
}

.banner-container button {
    background-color: orange;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
}

.banner-container a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}


/*under banner*/

.under-banner,
.under-service {
    background: white;
    padding: 10px 15px;
    text-align: center;
}

.service-container {
    display: grid;
    grid-gap: 20px;
    padding: 30px 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: #1e93cc;
    color: white;
    grid-template-areas: "item-a item-b " "item-c item-d";
}

.item-a {
    grid-area: item-a;
}

.item-b {
    grid-area: item-b;
}

.item-c {
    grid-area: item-c;
}

.item-d {
    grid-area: item-d;
}

.service-container p {
    margin: 10px 10px;
}


/*About*/

.about {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "item1 item2 item3 item4 item5 item6" ". . item7 item7 . .";
    padding-top: 50px;
    padding-bottom: 50px;
    background: #eeeeee;
}

.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.item-4 {
    grid-area: item4;
}

.item-5 {
    grid-area: item5;
}

.item-6 {
    grid-area: item6;
}

.item-7 {
    grid-area: item7;
    justify-self: center;
}

.about img {
    width: 80px;
    height: auto;
}


/* btn section */

.btn-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    background: white;
}

.btn-item,
.btn-item2 {
    margin: 20px 15px;
    padding: 25px 25px;
    color: white;
    border-radius: 5%;
    border: none;
}

.btn-item {
    background: #016582;
}

.btn-item2 {
    background: orange;
}


/*Footer*/

.Footer {
    width: 100%;
    background: #333333;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    height: auto;
    clear: both;
}